:root {
    --primary-color: #312E81;
    --secondary-color: #ffbc00;
    --font-primary: 'Cursive', sans-serif;
    --font-size-large: 2rem;
    --font-size-medium: 1.25rem;
    --font-size-small: 0.90rem;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background-color: var(--primary-color);
    color: white;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  